body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
